# Ignorar archivos y carpetas generados por Composer
/vendor
/composer.lock
/composer.phar

# Ignorar archivos y carpetas generados por TCPDF
/tcpdf/fonts
/tcpdf/images
/tcpdf/include/tcpdf_fonts.php
/tcpdf/include/tcpdf_static.php
/tcpdf/examples
/tcpdf/tools
/tcpdf/docs

# Ignorar archivos de configuración local
.env
