body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#dashboard {
  background-color: beige;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-around;
}

.tab {
  display: inline-block;
  padding: 10px 20px;
  background-color: beige;
  border: 2px solid #ccc;
  cursor: pointer;
  border-bottom: none;
  border-radius: 7px 7px 0 0;
  text-decoration: none;
  color: inherit;
}

.tab.active {
  background-color: #d4c09e;
}

.tab:not(.active):hover {
  background-color: #f0e0b5;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #d4c09e;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background-color: #3498db;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #e5e5e5;
}

.users-table--edit {
  background: #009688;
  border-radius: 7px;
  padding: 6px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}

.users-table--delete {
  background: #b11e1e;
  border-radius: 7px;
  padding: 6px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}

.profile-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  width: 75px;
  height: 75px;
  margin-bottom: 10px;
}

.profile-details {
  text-align: center;
}

.profile-details p {
  margin: 5px 0;
}
